/* General Setting */
body{
    font-family: "Raleway", sans-serif;
    margin-top: 0px;
    display: flex;
    justify-content: center;
} 

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

/* Container */
.container{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
}

.container_content{
    margin-left: 3%;
    margin-right: 3%;
}

/* Header */
.header_container{
    display: flex;
    justify-content: space-between;
}

.header_logo{
    width: 120px;
    padding-top: 1.1%;
}

/* Navigation */
.navigation_container{
    display: flex;
    justify-content: center;
}

.navigation_links{
    border-top: 2px solid transparent;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
}

.navigation_links:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.register_link{
    color: #0065fc;
    font-weight: 600;
    padding-top: 47px;
    padding-left: 15px;
}

.register_link:hover{
    color: #0065fc65;
    transition: ease 0.3s
}

/* Search area */
.search_area_container{
    margin-top: 3%;
}

.search_area{
    display: flex;
}

.search_area_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #ececec;
    width: 50px;
    height: 50px;
    border-radius: 20px 0px 0px 20px;
}

.search_area_input{
    height: 50px;
    width: 100%;
    border: 1px solid #ececec;
    padding-left: 10%;
    font-size: 14px;
}

.search_area_input::placeholder{
    color: black;
    font-weight: 700;
    border-color: #ececec;
}

.search_area_input:focus{
    border-color: #0065fc;
    outline: #0065fc;
}

.research_area_button_text{
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 600;
    padding-left: 1.5%;
    padding-right: 1.5%;
    cursor: pointer;
}

.research_area_button_icon{
    visibility: hidden;
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.research_area_button_text:hover{
    background-color: #ececec;
    color: #0065FC;
    transition: ease 0.3s;
}

/* Search area filters */
.search_area_filters{
    display: flex;
    align-items: center;
    margin-top: 2.5%;
}
.search_area_filters span{
    font-size: 18px;
    font-weight: 700;
}

.search_area_filters_list{
    display: flex;
}

.search_area_filters_list i{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    padding: 15px;
    margin-right: 10px;
}

.search_area_filters_list li{
    font-size: 15px;
    font-weight: 600;
    border: solid 2px #e2e2e2;
    border-radius: 50px;
    padding-right: 15px;
    margin-right: 15px;
}

.search_area_filters_list li:hover{
    color: #0065FC;
    border: solid 2px #0065FC;
    cursor: pointer;
    transition: ease 0.3s;
}

.search_area_information{
    display: flex;
    align-items: center;
}
.search_area_information i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    font-size: 13px;
    width: 25px;
    height: 25px;
    border: 2px solid #DEEBFF; 
    border-radius: 50%;
    margin-right: 10px;
}

/* Accommodation + Popular flex direction */
.accommodation_popular_container{
    display: flex;
    justify-content: space-between;
}

.accommodation_thumbnails_top{
    display: flex;
    justify-content: space-between;
}

.accommodation_thumbnails_bottom{
    display: flex;
    justify-content: space-between;
}

/* Accommodation */
.accommodation_container{
    background-color: #ececec;
    border-radius: 25px;
    margin-top: 3%;
    padding-top: 1.5%;
    padding-left: 2%;
}

.accommodation_thumbails_box{
    background-color: white;
    border-radius: 25px;
    padding: 7px 7px 7px 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 10%;
    margin-right: 30px;
}

.accommodation_thumbails_box:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.accommodation_thumbails_box img{
    height: 100px;
    width: 240px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.accommodation_thumbails_box h3{
    font-size: 16px;
    font-weight: 700;
    margin-top: 1%;
    margin-left: 1%;
}

.accommodation_thumbails_box p{
    font-size: 14px;
    margin-left: 1%;
    margin-top: -5%;
}

.accommodation_thumbails_box_stars{
    color: #0065fc;
    font-size: 15px;
    margin-left: 1%;
    margin-top: -3%;
}

.accommodation_thumbails_box_stars_empty{
    color: #ececec;
}

.accommodation_thumbnails_link{
    font-weight: 700;
    font-size: 19px;
}

.accommodation_thumbnails_link:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s;
}

/* Popular */
.popular_container{
    background-color: #ececec;
    border-radius: 25px;
    margin-top: 3%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

.popular_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular_thumbnails_box{
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 7px 7px 7px 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-bottom: 5%;
}

.popular_thumbnails_box:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.popular_thumbnails_box img{
   width: 115px;
   height: 130px;
   object-fit: cover;
   border-radius: 15px 0px 0px 15px;
}

.popular_thumbnails_box_info h3{
    font-size: 16px;
    font-weight: 700;
    margin-top: 1%;
    margin-left: 10%;
}

.popular_thumbnails_box_info p{
    font-size: 14px;
    margin-left: 10%;
    margin-top: -3%;
}


.popular_thumbnails_box_info_stars{
    color: #0065fc;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 20%;
}

.popular_thumbnails_box_info_stars_empty{
    color: #ececec;
}

.popular_thumbnails_box_info_stars_long{
    color: #0065fc;
    font-size: 15px;
    margin-left: 10%;
    margin-top: 15%;
}

/* Actitivies */
.activities_container{
    width: 100%;
}

#activities{
    margin-top: 5%;
    margin-bottom: 2%;
}

.activities_thumbnails_container{
    display: flex;
}


.activities_thumbnails_box_one{
    display: flex;
}

.activities_thumbnails_box_two{
    display: flex;
}

.activities_thumbnails_box_big{
    border: 2px solid #ececec;
    border-radius: 25px;
    box-shadow: 2px 2px 8px #e2e2e2;
    margin-right: 25px;
}

.activities_thumbnails_box_small{
    border: 2px solid #ececec;
    border-radius: 25px;
    box-shadow: 2px 2px 8px #e2e2e2;
    margin-bottom: 7%;
    margin-right: 25px;
}

.activities_thumbnails_box_big img{
    width: 315px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activities_thumbnails_box_small img{
    width: 315px;
    height: 190px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activities_thumbnails_box_big h3{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 5%;
    font-size: 16px;
}

.activities_thumbnails_box_small h3{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
}

.activities_thumbnails_box_big:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.activities_thumbnails_box_small:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

/* Footer */
footer{
    background-color: #e2e2e2;
    margin-top: 3%;
    padding-left: 3%;
    padding-bottom: 2.5%;
}

.footer_container{
    display:flex;
}

.footer_container_links{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-right: 18%;
}

.footer_container_links a{
    margin-bottom: 5%;
}

.footer_container_links a:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s; 
}

/* Media Queries */

/* Desktop screen Breakpoints */
@media screen and (max-width: 1440px){

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 225px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 305px;
    }
    
    .activities_thumbnails_box_small img{
        width: 305px;        
    }
}

@media screen and (max-width: 1366px){

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 205px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 285px;
    }
        
    .activities_thumbnails_box_small img{
        width: 285px;        
    }

}

@media screen and (max-width: 1280px){

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 180px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 265px;
    }
        
    .activities_thumbnails_box_small img{
        width: 265px;        
    }

}

@media screen and (max-width: 1024px){
    
    /* Accommodation + Popular flex direction */
    .accommodation_popular_container{
        display: flex;
        flex-direction: column-reverse;
    }

    /* Popular */
    .popular_thumbnails_container{
        display: flex;
    }

    .popular_thumbnails_box{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    .popular_thumbnails_box img{
        width: 250px;
        border-radius: 15px 15px 0px 0px;
    }

    .popular_thumbnails_box_info h3{
        font-size: 14px;
        font-weight: 700;
        margin-top: 1%;
        margin-left: 1%;
    }
    
    .popular_thumbnails_box_info p{
        font-size: 13px;
        margin-left: 1%;
        margin-top: -4%;
    }
    
    
    .popular_thumbnails_box_info_stars{
        font-size: 13px;
        margin-left: 1%;
        margin-top: -4%;
    }

    .popular_thumbnails_box_info_stars_long{
        font-size: 13px;
        margin-left: 1%;
        margin-top: -4%;
    }

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 250px;
    }

    .accommodation_thumbails_box h3{
        font-size: 14px;
        font-weight: 700;
    }
    
    .accommodation_thumbails_box p{
        font-size: 13px;
    }
    
    .accommodation_thumbails_box_stars{
        font-size: 13px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 205px;
        height: 335px;
    }
        
    .activities_thumbnails_box_small img{
        width: 205px;
        height: 135px;        
    }

    .activities_thumbnails_box_big h3{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 5px;
        font-size: 14px;
        font-weight: 700;
    }

    .activities_thumbnails_box_small h3{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 700;
    }

    /* Footer */
    .footer_container_links{
        font-size: 14px;
    }

    .footer_container_links a{
        font-size: 13px;
    }

}

@media screen and (max-width: 800px){
    
    /* Search area filters */    
    .search_area_filters_list li{
        font-size: 11px;
        font-weight: 600;
    }

    .popular_thumbnails_box{
        display: flex;
        flex-direction: column;
        margin-right: 40px;
    }

    .popular_thumbnails_box img{
        width: 185px;
        border-radius: 15px 15px 0px 0px;
    }

    .popular_thumbnails_box_info h3{
        font-size: 17px;
        font-weight: 700;
        margin-top: 1%;
        margin-left: 1%;
    }
    
    .popular_thumbnails_box_info p{
        font-size: 13px;
        margin-left: 1%;
        margin-top: -4%;
    }
    
    .popular_thumbnails_box_info_stars{
        font-size: 13px;
        margin-left: 1%;
        margin-top: -4%;
    }

    .popular_thumbnails_box_info_stars_long{
        font-size: 13px;
        margin-left: 1%;
        margin-top: -4%;
    }

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 191px;
    }

    .accommodation_thumbails_box h3{
        font-size: 17px;
        font-weight: 700;
    }
    
    .accommodation_thumbails_box p{
        font-size: 13px;
    }
    
    .accommodation_thumbails_box_stars{
        font-size: 13px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 155px;
        height: 315px;
    }
        
    .activities_thumbnails_box_small img{
        width: 155px;
        height: 135px;        
    }

    .activities_thumbnails_box_big h3{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 5px;
        font-size: 10px;
        font-weight: 700;
    }

    .activities_thumbnails_box_small h3{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-size: 10px;
        font-weight: 700;
    }

    /* Footer */
    .footer_container_links{
        font-size: 11px;
    }
    
    .footer_container_links a{
        font-size: 10px;
    }

}