body{
    font-family: "Raleway", sans-serif;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.body_container{
    width: 100%;
    max-width: 1400px;
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 120px;
    height: 60px;
    padding-top: 27px;
}
/* Navigation */
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    margin-top: 0;
    display: flex;
}

nav li, nav a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.nav_link li{
    padding: 50px 30px 0 30px;
}

.link{
    padding: 38px 50px 25px 0;
    border-top:2px solid transparent;
}

.link:hover{
    border-top:2px solid #0065FC;
}

.link a:hover{
    color: #0065FC;
}

.register{
    margin-top: 40px;
    margin-left: 30px;
}

.register a{ 
    color: #0065FC;
    font-weight: 600;
    text-decoration: none;
}

.register a:hover{
    color: #DEEBFF;
}
/* Research */
.research_text h1{
    margin-top: 40px;
    font-size: 20px;
}

.research_area{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#research_area_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px 0 0 15px;
    background-color: #f2f2f2;
}

.research_area_input{
    height: 50px;
    width: 18%;
    border: 1px solid #f2f2f2;
}

.research_area_input::placeholder{
    color: black;
    font-size:15px;
    font-weight: bolder;
    padding-left: 10px;
}

.research_area_input:focus{
    border-color: #0065FC;
    outline: #0065FC;
}

.research_area_button{
    width: 125px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.research_area_button:hover{
    background-color: #f2f2f2;
    color: #0065FC;
    transition: ease 0.3s;
}
/* Filters */
.filters{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.filters p{
    font-weight: 700
}

.filters_list{
    display: flex;
    list-style: none;
    margin-left: -15px;
}

.filters_list i{
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-left: -15px;
}

.filters_list li{
    font-weight: 600;
    border: solid 2px #DEEBFF;
    border-radius: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
}

.filters_list i:hover{
    color: #DEEBFF;
    background-color: #0065FC;
    cursor: pointer;
}

.research_information{
    display: flex;
    align-items: center;
}

.research_information i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    margin-right: 20px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: 2px solid #DEEBFF; 
    border-radius: 50%;   
}
/* Accommadation + Popular box direction */
.section_aside_container{
    display: flex;
    justify-content: space-between;
}
/* Accommodation */
#accommodation{
    margin-left: 30px;
    padding-top: 30px;
    font-size: 22px;
}

.accommodation_container{
    background-color: #ececec;
    border-radius: 25px;
    margin-top: 35px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.accommodation article{
    margin-top: 20px;
}

.thumbnail_container{
    display: flex;
    padding: 5px;
}

.thumbnail_container a{
    color: black;
    text-decoration: none;
}

.thumbnail_box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 10px;
    margin-right: 20px;
}

.thumbnail_box img{
    width: 250px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.thumbnail_box h3{
    font-size: 18px;
    margin-top: 5px;
}

.thumbnail_box p{
    margin-top: -12px;
    font-size: 15px;
}

.evaluation_score{
    margin-top: -12px;
    color: #0065FC;
}

#star_thumbnail_1{
    color: #DEEBFF;
}

#star_thumbnail_2{
    color: #DEEBFF;
}

#star_thumbnail_3{
    color: #DEEBFF;
}

#star_thumbnail_4{
    color: #DEEBFF;
}

#star_thumbnail_5{
    color: #DEEBFF;
}

.show_more{
    display: flex;
    margin-top: 50px;
    margin-left: 30px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}
/* Popular */
.popular{
    background-color: #ececec;
    height: 650px;
    border-radius: 25px;
    margin-top: 35px;
    margin-left: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 55px;
    display: flex;
    flex-direction: column;
}

.aside_thumbnail_container{
    display: flex;
    padding: 5px;
}

.aside_thumbnail_container a{
    color: black;
    text-decoration: none;
    display: flex;
}

.title_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_icon h2{
    font-size: 22px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.aside_thumbnail_box{
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px;
}

.aside_thumbnail_box_info{
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
}

.aside_thumbnail_box img{
    height: 150px;
    width: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.aside_thumbnail_box_info h3{
    font-size: 18px;
}

.aside_evaluation_score{
    color: #0065FC;
}

#aside_star_thumbnail_1{
    color: #DEEBFF;
}

#aside_star_thumbnail_2{
    color: #DEEBFF;
}




