/* General Setting */
body{
    font-family: "Raleway", sans-serif;
    margin: 0px;
} 

a{
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

/* Container */
.container{
    display: flex;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

.container_content{
    max-width: 1440px;
    width: 100%;
}

/* Header */
.header_container{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.header_logo{
    width: 120px;
    height: 60px;
}

/* Navigation */
.navigation_container{
    display: flex;
    align-items: center;
}

.navigation_container ul{
    display: flex;
}   

.navigation_container_menu a{
    padding: 54px 35px 0px 35px;
    border-top: 2px solid transparent;  
}

.navigation_container_menu a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
}

.register{
    margin-left: 35px;
}

.register a{
    color: #0065fc;
    font-weight: 600;
}

.register a:hover{
    color: #0065fc65;
    transition: ease 0.3s
}

/* Search area */
.search_area_container{
    margin-top: 35px;
}

.search_area{
    display: flex;
    margin-top: 35px;
}

.search_area_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: #ececec;
    width: 50px;
    height: 50px;
    border-radius: 20px 0px 0px 20px;
}

.search_area_input{
    height: 50px;
    width: 100%;
    padding: 15px;
    border: 1px solid #ececec;
}

.search_area_input::placeholder{
    color: black;
    font-weight: 700;
    border-color: #ececec;
}

.search_area_input:focus{
    border-color: #0065fc;
    outline: #0065fc;
}

.research_area_button_text{
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.research_area_button_icon{
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0065fc;
    border-radius: 0px 15px 15px 0px;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}

.research_area_button_text:hover{
    background-color: #ececec;
    color: #0065FC;
    transition: ease 0.3s;
}

/* Search area filters */
.search_area_container{
    margin-bottom: 50px;
}

.search_area_filters{
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.search_area_filters span{
    font-size: 20px;
    font-weight: 600;
}

.search_area_filters_list{
    display: flex;
}

.search_area_filters_list i{
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50px;
    margin-left: -15px;
    margin-right: 10px;
}

.search_area_filters_list li{
    font-weight: 600;
    border: solid 2px #e2e2e2;
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
}

.search_area_filters_list li:hover{
    color: #0065FC;
    border: solid 2px #0065FC;
    cursor: pointer;
    transition: ease 0.3s;
}

.search_area_information{
    display: flex;
    align-items: center;
    margin-top: 35px;
}

.search_area_information i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    margin-right: 20px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: 2px solid #DEEBFF; 
    border-radius: 50%;   
}

/* Accommodation + Popular flex direction */
.accommodation_popular_container{
    display: flex;
    justify-content: space-between;
}

/* Accommodation */
.accommodation_container{
    background-color: #ececec;
    padding-left: 35px;
    padding-bottom: 35px;
    border-radius: 25px;
    margin-right: 35px;
}

#accommodation{
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 22px;
}

.accommodation_thumbnails_top{
    display: flex;
}

.accommodation_thumbnails_bottom{
    display: flex;
}

.accommodation_thumbails_box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 7px 7px 7px 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-right: 35px;
    margin-bottom: 35px;
}

.accommodation_thumbails_box:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.accommodation_thumbails_box img{
    height: 135px;
    width: 250px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

.accommodation_thumbails_box h3{
    margin-top: 5px;
    margin-left: 5px;
    font-size: 22px;
    font-weight: 500;
}

.accommodation_thumbails_box p{
    margin-top: 0px;
    margin-left: 5px;
}

.accommodation_thumbails_box_stars{
    color: #0065fc;
    margin-top: 0px;
    margin-left: 5px;
}

.accommodation_thumbails_box_stars_empty{
    color: #ececec;
}

.accommodation_thumbnails_link{
    font-weight: 700;
    font-size: 20px;
}

.accommodation_thumbnails_link:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s;
}

/* Popular */
.popular_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-right: 35px;
    margin-bottom: 15px;
}

.popular_container{
    margin-right: 35px;
    background-color: #ececec;
    padding-bottom: 35px;
    padding-left: 35px;
    border-radius: 25px;
}

.popular_thumbnails_box{
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 7px 7px 7px 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin-right: 35px;
    margin-bottom: 35px;
}

.popular_thumbnails_box:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.popular_thumbnails_box img{
   width: 130px;
   height: 150px;
   object-fit: cover;
   border-radius: 15px 0px 0px 15px;
}

.popular_thumbnails_box_info h3{
    font-size: 22px;
    font-weight: 500;
    margin-top: 0px;
    margin-left: 5px;
}

.popular_thumbnails_box_info p{
    margin-top: 10px;
    margin-left: 5px;
}


.popular_thumbnails_box_info_stars{
    margin-top: 35px;
    margin-left: 5px;
    color: #0065fc;
}

.popular_thumbnails_box_info_stars_empty{
    color: #ececec;
}

/* Actitivies */
#activities{
    margin-top: 50px;
    margin-bottom: 35px;
}

.activities_thumbnails_container{
    display: flex;
    justify-content: space-between;
}

.activities_thumbnails_box_one{
    display: flex;
    justify-content: space-between;
}

.activities_thumbnails_box_two{
    display: flex;
    justify-content: space-between;
}

.activities_thumbnails_box_big{
    border: 2px solid #ececec;
    border-radius: 27px;
    box-shadow: 2px 2px 8px #e2e2e2;
    margin-right: 35px;
}

.activities_thumbnails_box_small{
    border: 2px solid #ececec;
    border-radius: 27px;
    box-shadow: 2px 2px 8px #e2e2e2;
    margin-right: 35px;
    margin-bottom: 35px;
}

.activities_thumbnails_box_big img{
    width: 320px;
    height: 450px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activities_thumbnails_box_small img{
    width: 320px;
    height: 180px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activities_thumbnails_box_big h3{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500;
}

.activities_thumbnails_box_small h3{
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 500;
}

.activities_thumbnails_box_big:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.activities_thumbnails_box_small:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

/* Footer */
.footer_container{
    background-color: #e2e2e2;
    display: flex;
    justify-content: center;
    padding-left: 35px;
    padding-bottom: 35px;
}

.footer_container_links{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 320px;
}

.footer_container_links a{
    margin-bottom: 10px;
}
.footer_container_links a:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s; 
}

/* Media Queries */

/* Desktop screen Breakpoints */
@media only screen and (max-width: 1440px){
    
    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 240px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 305px;
    }

    .activities_thumbnails_box_small img{
        width: 305px;
    }

    /* Footer */
    .footer_container{
        padding-bottom: 0px;
    }

    .footer_container_links{
        margin-right: 280px; 
    }

}

@media only screen and (max-width: 1366px){
    
    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 230px;
    }

    .accommodation_thumbails_box h3{
        font-size: 20px;
    }

    /* Popular */
    .popular_thumbnails_box img{
        width: 105px;
        height: 150px;
    }
     
    .popular_thumbnails_box_info h3{
        font-size: 20px;
    }

    .popular_thumbnails_box_info_stars{
        margin-top: 40px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 295px;
    }

    .activities_thumbnails_box_small img{
        width: 280px;
    }

    .activities_thumbnails_box_big h3{
        font-size: 20px;
    }

    .activities_thumbnails_box_small h3{
        font-size: 20px;
    }

    /* Footer */
    .footer_container_links{
        margin-right: 260px; 
    }

}

@media only screen and (max-width: 1280px){

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 205px;
        height: 120px;
    }

    .accommodation_thumbails_box h3{
        font-size: 18px;
        font-weight: 600;
    }

    /* Popular */
    .popular_thumbnails_box img{
        width: 100px;
        height: 140px;
    }
     
    .popular_thumbnails_box_info h3{
        font-size: 18px;
        font-weight: 600;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 280px;
    }

    .activities_thumbnails_box_small img{
        width: 265px;
    }

    .activities_thumbnails_box_big h3{
        font-size: 18px;
        font-weight: 600;
    }

    .activities_thumbnails_box_small h3{
        font-size: 18px;
        font-weight: 600;
    }

    /* Footer */
    .footer_container_links{
        margin-right: 230px; 
    }
}

@media only screen and (max-width: 1024px){

    /* Accommodation + Popular flex direction */
    .accommodation_popular_container{
        display: flex;
        flex-direction: column-reverse;
    }

    /* Accommodation */
    .accommodation_container{
        margin-right: 15px;
    }

    .accommodation_thumbails_box img{
        height: 135px;
        width: 250px;
    }
    
    .accommodation_thumbails_box h3{
        font-size: 23px;
        font-weight: 500;
    }
    
    /* Popular */
    .popular_container{
        margin-bottom: 35px;
        padding-bottom: 0px;
        padding-left: 35px;
        padding-right: 35px;
    }

    .popular_thumbnails_container{
        display: flex;
    }

    .popular_thumbnails_box{
        flex-direction: column;
    }

    .popular_thumbnails_box img{
        height: 135px;
        width: 250px;
        border-radius: 15px 15px 0px 0px;
    }
         
    .popular_thumbnails_box_info h3{
        font-size: 23px;
        font-weight: 500;
        margin-top: 5px;
    }

    .popular_thumbnails_box_info_stars{
        margin-top: 0px;
    }
    
    /* Activities */
    .activities_thumbnails_container{
        flex-direction: column;
    }

    .activities_thumbnails_box_one{
        justify-content: center;
    }

    .activities_thumbnails_box_two{
        justify-content: center;
    }

    .activities_thumbnails_box_small{
        margin-right: 0px;
    }

    .activities_thumbnails_box_big img{
        width: 440px;
    }
    
    .activities_thumbnails_box_small img{
        width: 440px;
    }
    
    .activities_thumbnails_box_big h3{
        font-size: 23px;
        font-weight: 500;
    }
    
    .activities_thumbnails_box_small h3{
        font-size: 23px;
        font-weight: 500;
    }

    /* Footer */
    .footer_container_links{
        margin-right: 140px; 
    }
}

@media only screen and (max-width: 800px){
    
    /* Search area filters */
    .search_area_filters_list i{
        font-size: 12px;
    }

    .search_area_filters_list li{
        font-size: 12px;
        font-weight: 600;
    }

    /* Popular */
    .popular_thumbnails_box img{
        height: 100px;
        width: 180px;

    }
         
    .popular_thumbnails_box_info h3{
        font-size: 16px;
        font-weight: 600;
    }
    
    /* Accommodation */
    .accommodation_thumbails_box img{
        height: 100px;
        width: 180px;
    }

    .accommodation_thumbails_box h3{
        font-size: 16px;
        font-weight: 600;
    }

    .accommodation_thumbails_box p{
        font-size: 14px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 350px;
    }
    
    .activities_thumbnails_box_small img{
        width: 350px;
    }

    .activities_thumbnails_box_big h3{
        font-size: 16px;
        font-weight: 600;
    }
    
    .activities_thumbnails_box_small h3{
        font-size: 16px;
        font-weight: 600;
    }

    /* Footer */
    .footer_container_links{
        margin-right: 70px; 
    }
}
/* End of Desktop screen Breakpoints */

/* Tablet and mobile screen Breakpoints */ 

@media only screen and (max-width: 768px){
    
    /* Search area filters */
    .search_area_filters_list i{
        font-size: 10px;
    }

    .search_area_filters_list li{
        font-size: 10px;
    }

    /* Accommodation + Popular flex direction */
    .accommodation_popular_container{
        display: flex;
        flex-direction: column-reverse;
    }

    /* Accommodation */
    .accommodation_thumbails_box img{
        height: 100px;
        width: 160px;
    }

    .accommodation_thumbails_box h3{
        font-size: 14px;
        font-weight: 700;
    }

    .accommodation_thumbails_box p{
        font-size: 13px;
    }

    /* Popular */
    .popular_thumbnails_box img{
        width: 160px;
    }

    .popular_thumbnails_box_info h3{
        font-size: 14px;
        font-weight: 700;
    }

    .popular_thumbnails_box_info p{
        font-size: 13px;
    }

    /* Activities */
    .activities_thumbnails_container{
        display: flex;
        flex-direction: column;
    }

    .activities_thumbnails_box_big{
        margin-right: 15px;
        margin-bottom: 35px;
    }

    .activities_thumbnails_box_small{
        margin-bottom: 40px;
    }

    .activities_thumbnails_box_big img{
        width: 345px;
        height: 450px;
    }
    
    .activities_thumbnails_box_small img{
        width: 345px;
        height: 180px;
    }

    /* Footer */
    .footer_container_links{
        margin-right: 50px; 
    }
}

@media only screen and (max-width: 667px){

    /* Container */
    .container{
        margin: 0px;
    }

    /* Header */
    .header_container{
        margin-top: 10px;
    }

    .header_logo{
        width: 80px;
        height: 40px;
        margin-left: 10px;
        position: absolute;
    }

    .navigation_container{
        flex-direction: column-reverse;
        align-items: flex-end;
        border-bottom: 2px solid #ececec;
        width: 100%;  
    }

    .navigation_container li{
        width: 50%;
    }

    .navigation_container_menu a{
        border-bottom: 2px solid transparent;
        padding-bottom: 16px;
    }
    
    .navigation_container_menu a:hover{
        border-top: 2px solid transparent; 
        border-bottom: 2px solid #0065fc;

    }

    .register{
        margin-right: 15px;
    }

    /* Search area */
    .search_area_container{
        margin-left: 10px;
    }

    .search_area{
        display: flex;
        margin-left: 40px;
    }

    .research_area_button_text{
        display: none;
    }

    .research_area_button_icon{
        visibility: visible;
    }

    /* Search area filters */
    .search_area_filters{
        display: block;
    }

    .search_area_filters_list{
        display: block;
    }
    
    .search_area_filters_list li{
        font-size: 14px;
        margin-bottom: 10px;
    }

    /* Popular */
    .popular_container{
        margin: 0px;
        padding-left: 20px;
        border-radius: 0px;
    }

    .popular_thumbnails_container{
        display: flex;
        flex-direction: column;
    }

    .popular_thumbnails_box{
        flex-direction: row;
        padding: 7px 7px 7px 7px;
    }

    .popular_thumbnails_box img{
        height: 150px;
        width: 200px;
        border-radius: 15px 0px 0px 15px;
    }

    .popular_thumbnails_box_info h3{
        font-size: 28px;
        font-weight: 500;
        margin-top: 0px;
        margin-left: 35px;
    }

    .popular_thumbnails_box_info p{
        font-size: 20px;
        margin-top: -20px;
        margin-left: 35px;
    }

    .popular_thumbnails_box_info_stars{
        margin-top: 35px;
        margin-left: 35px;
    }

    /* Accommodation */
    .accommodation_container{
        margin: 0px 0px 0px 20px;
        background-color: white;
        padding: 0px 0px 0px 0px;
        border-radius: 25px;
    }

    .accommodation_thumbnails_top{
        display: block;
    }
    
    .accommodation_thumbnails_bottom{
        display: block;
    }

    .accommodation_thumbails_box{
        padding: 7px 7px 7px 7px;
        box-shadow: 2px 2px 8px #e2e2e2;
        border: 2px solid #ececec;
    }
    
    .accommodation_thumbails_box img{
        height: 200px;
        width: 571px;
    }

    .accommodation_thumbails_box h3{
        font-size: 28px;
        font-weight: 500;
    }
    
    .accommodation_thumbails_box p{
        font-size: 20px;
        margin-top: -20px;
    }

    /*  Activities */
    .activities_thumbnails_container{
        display: block;
    }
    
    .activities_thumbnails_box_one{
        display: block;
    }

    .activities_thumbnails_box_two{
        display: block;
    }

    #activities{
       margin-top: 40px;
       margin-bottom: 25px;
       margin-left: 20px;
    }

    .activities_thumbnails_box_big{
        margin-right: 21px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .activities_thumbnails_box_small{
        margin-right: 21px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .activities_thumbnails_box_big img{
        width: 600px;
        height: 200px;
    }
    
    .activities_thumbnails_box_small img{
        width: 600px;
        height: 200px;
    }

    .activities_thumbnails_box_big h3{
        font-size: 28px;
        font-weight: 500;
    }

    .activities_thumbnails_box_small h3{
        font-size: 28px;
        font-weight: 500;
    }

    /* footer */
    .footer_container{
        display: block;
    }

    .footer_container_links{
        margin-top: 15px;
        margin-right: 15px;
        margin-left: 15px;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 411px){

    /* Popular */
    .popular_thumbnails_box img{
        width: 120px;
    }

    .popular_thumbnails_box_info h3{
        font-size: 16px;
        margin-left: 5px;
        font-weight: 600;
    }

    .popular_thumbnails_box_info p{
        font-size: 15px;
        margin-top: 0px;
        margin-left: 5px;
    }

    .popular_thumbnails_box_info_stars{
        margin-top: 55px;
        margin-left: 5px;
    }

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 337px;
    }

    .accommodation_thumbails_box h3{
        font-size: 18px;
        font-weight: 600;
    }
    
    .accommodation_thumbails_box p{
        font-size: 17px;
        margin-top: -10px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 366px;
        height: 200px;
    }
    
    .activities_thumbnails_box_small img{
        width: 366px;
        height: 200px;
    }

    .activities_thumbnails_box_big h3{
        font-size: 18px;
        font-weight: 600;
    }

    .activities_thumbnails_box_small h3{
        font-size: 18px;
        font-weight: 600;
    }
}

@media only screen and (max-width: 375px){
    
    /* Popular */
    .popular_thumbnails_box img{
        width: 120px;
    }

    .popular_thumbnails_box_info h3{
        font-size: 16px;
        margin-left: 5px;
        font-weight: 600;
    }

    .popular_thumbnails_box_info p{
        font-size: 15px;
        margin-top: 0px;
        margin-left: 5px;
    }

    .popular_thumbnails_box_info_stars{
        margin-top: 55px;
        margin-left: 5px;
    }

    /* Accommodation */
    .accommodation_thumbails_box img{
        width: 301px;
    }

    .accommodation_thumbails_box h3{
        font-size: 18px;
        font-weight: 600;
    }
    
    .accommodation_thumbails_box p{
        font-size: 17px;
        margin-top: -10px;
    }

    /* Activities */
    .activities_thumbnails_box_big img{
        width: 330px;
        height: 200px;
    }
    
    .activities_thumbnails_box_small img{
        width: 330px;
        height: 200px;
    }

    .activities_thumbnails_box_big h3{
        font-size: 18px;
        font-weight: 600;
    }

    .activities_thumbnails_box_small h3{
        font-size: 18px;
        font-weight: 600;
    }
}

/* THE END  i guess */