body{
    font-family: "Raleway", sans-serif;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.body_container{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header_main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1400px;
    margin-left: 50px;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 120px;
    height: 60px;
    margin-top: 27px;
}

/* Navigation */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    margin-top: 0;
    display: flex;
}

nav li, nav a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.nav_link li{
    padding: 50px 30px 0px 30px;
}

.link{
    padding: 38px 50px 25px 0px;
    border-top:2px solid transparent;
}

.link:hover{
    border-top:2px solid #0065FC;
}

.link a:hover{
    color: #0065FC;
}

.register{
    margin : 38px 0px 0px 30px;
}

.register a{ 
    color: #0065FC;
    font-weight: 600;
    text-decoration: none;
}

.register a:hover{
    color: #DEEBFF;
    transition: ease 0.3s;
}

/* Research */

.research_text h1{
    margin-top: 40px;
    font-size: 20px;
}

.research_area{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

#research_area_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
}

.research_area_input{
    height: 50px;
    width: 18%;
    border: 1px solid #f2f2f2;
}

.research_area_input::placeholder{
    color: black;
    font-size:15px;
    font-weight: bolder;
    padding-left: 10px;
}

.research_area_input:focus{
    border-color: #0065FC;
    outline: #0065FC;
}

.research_area_button{
    width: 125px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.research_area_button:hover{
    background-color: #f2f2f2;
    color: #0065FC;
    transition: ease 0.3s;
}

/* Filters */

.filters{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.filters p{
    font-weight: 700
}

.filters_list{
    display: flex;
    list-style: none;
}

.filters_list i{
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
    margin-left: -17px;
    margin-right: 10px;
}

.filters_list li{
    font-weight: 600;
    border: solid 2px #DEEBFF;
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
    margin-right: 15px;

}

.filters_list li:hover{
    color: #DEEBFF;
    background-color: #0065FC;
    cursor: pointer;
    transition: ease 0.3s;
}

.research_information{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.research_information i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    margin-right: 20px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: 2px solid #DEEBFF; 
    border-radius: 50%;   
}

/* Accommadation + Popular box direction */

.section_aside_container{
    display: flex;
    justify-content: space-between;
}

/* Accommodation */

#accommodation{
    background-color: #ececec;
    padding: 0px 10px 35px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
}

#accommodation h2{
    font-size: 22px;
    padding: 30px 0px 20px 0px;
}

.thumbnail_container{
    display: flex;
}

.thumbnail_container a{
    color: black;
    text-decoration: none;
}

.thumbnail_box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 8px 8px 4px 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin: 0px 30px 35px 0px;
}

.thumbnail_box:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.thumbnail_box img{
    width: 250px;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.thumbnail_box h3{
    font-size: 18px;
    margin: 5px 0px 0px 10px;
}

.thumbnail_box p{
    font-size: 15px;
    margin-left: 10px;
}

.stars{
    color: #0065FC;
    margin-left: 10px;
}

.empty_stars{
    color: #e2e2e2;
}

.show_more{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.show_more:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s;
}

/* Popular */

.popular{
    background-color: #ececec;
    border-radius: 25px;
    padding: 0px 35px 0px 35px;
    display: flex;
    flex-direction: column;
}

.aside_thumbnail_container{
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 8px 8px 4px 8px;
    margin-bottom: 35px;
}

.aside_thumbnail_container:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.aside_thumbnail_container a{
    color: black;
    text-decoration: none;
    display: flex;
}

.title_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_icon h2{
    font-size: 22px;
    padding: 30px 0px 20px 0px;
}

.aside_thumbnail_box img{
    height: 140px;
    width: 130px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.aside_thumbnail_box_info h3{
    font-size: 18px;
    margin: 0px 0px 0px 10px;
}

.aside_thumbnail_box_info_short h3{
    font-size: 18px;
    margin: 0px 0px 0px 7px;
}

.aside_thumbnail_box_info p{
    margin-left: 10px;
    margin-bottom: 60px;
}

.aside_thumbnail_box_info_short p{
    margin-left: 10px;
    margin-bottom: 40px;
}

/* Activities */

#activities{
    font-size: 22px;
    padding-top: 30px;
}

.activities_thumbnail{
    display: flex;
}

.activities_thumbnail a{
    color: black;
    text-decoration: none;
}

.activities_thumbnail_big{
    border: 2px solid #ececec;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #e2e2e2;
}

.activities_thumbnail_big:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.activities_thumbnail_small{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px 35px 35px 35px;
}

.activities_thumbnail_small:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}


.activities_thumbnail_small_top{
    border: 2px solid #ececec;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #e2e2e2;
}

.activities_thumbnail_small_bottom{
    border: 2px solid #ececec;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #e2e2e2;
}

.activities_thumbnail_big img{
    height: 400px;
    width: 320px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activities_thumbnail_small img{
    height: 150px;
    width: 320px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activities_thumbnail_big h3{
    font-size: 18px;
    padding-left: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.activities_thumbnail_small h3{
    font-size: 18px;
    padding-left: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Footer */
.footer_container{
    background-color: #e2e2e2;
    margin-top: 60px;
}

.section_container{
    display: flex;
}

.section_container a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.section_container a:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s;
}

.about{
    display: flex;
    flex-direction: column;
    margin: 30px 150px 30px 50px;
}

.accommodation_footer{
    display: flex;
    flex-direction: column;
    margin: 30px 150px 30px 30px;
}

.assistance{
    display: flex;
    flex-direction: column;
    margin: 30px 150px 30px 30px;
}



