body{
    display: flex;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    margin-top: 0px;
}

.body_container{
    display: flex;
    flex-direction: column;
}

.header_main_container{
    display: flex;
    flex-direction: column;
    margin: 0px 35px 0px 35px;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 120px;
    height: 60px;
    margin-top: 27px
}

/* Navigation */

.navigation{
    display: flex;
    align-items: center;    
}

nav ul{
    display: flex;
    margin-top: 0;
}

nav li, nav a{
    color: black;
    list-style: none;
    text-decoration: none;
}

.nav_link li{
    padding: 50px 30px 0px 30px;
}

.link{
    padding: 38px 50px 25px 0px;
    border-top:2px solid transparent;
}

.link:hover{
    border-top:2px solid #0065FC;
}

.link a:hover{
    color: #0065FC;
}

.register{
    margin : 38px 0px 0px 30px;
}

.register a{ 
    color: #0065FC;
    font-weight: 600;
    text-decoration: none;
}

.register a:hover{
    color: #DEEBFF;
    transition: ease 0.3s;
}

/* Research */

.research_text h1{
    margin-top: 40px;
    font-size: 20px;
}

.research_area{
    display: flex;
    margin-top: 30px;
}

#research_area_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 15px 0px 0px 15px;
    background-color: #f2f2f2;
}

.research_area_input{
    height: 50px;
    width: 18%;
    border: 1px solid #f2f2f2;
}

.research_area_input::placeholder{
    color: black;
    font-size: 15px;
    font-weight: bolder;
    padding-left: 10px;
}

.research_area_input:focus{
    border-color: #0065FC;
    outline: #0065FC;
}

.research_area_button{
    width: 125px;
    height: 50px;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
}

.research_area_button:hover{
    background-color: #f2f2f2;
    color: #0065FC;
    transition: ease 0.3s;
}

/* Filters */

.filters{
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.filters p{
    font-weight: 700
}

.filters_list{
    display: flex;
    list-style: none;
}

.filters_list i{
    padding: 15px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 25px;
    margin-left: -15px;
    margin-right: 10px;
}

.filters_list li{
    font-weight: 600;
    border: solid 2px #e2e2e2;
    border-radius: 25px;
    padding: 0px 15px 0px 15px;
    margin-right: 15px;
}

.filters_list li:hover{
    color: #0065FC;
    border: solid 2px #0065FC;
    cursor: pointer;
    transition: ease 0.3s;
}

.research_information{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.research_information i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    margin-right: 20px;
    font-size: 12px;
    width: 25px;
    height: 25px;
    border: 2px solid #DEEBFF; 
    border-radius: 50%;   
}

/* Accommadation + Popular box direction */

.section_aside_container{
    display: flex;
}

/* Accommodation */

#accommodation{
    background-color: #ececec;
    padding: 0px 10px 35px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
}

#accommodation h2{
    font-size: 22px;
    padding: 30px 0px 20px 0px;
}

.thumbnail_container{
    display: flex;
}

.thumbnail_container a{
    color: black;
    text-decoration: none;
}

.thumbnail_box{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 25px;
    padding: 7px 7px 4px 7px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    margin: 0px 30px 35px 0px;
}

.thumbnail_box:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.thumbnail_box img{
    max-width: 250px;
    width: 100%;
    max-height: 150px;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.thumbnail_box h3{
    font-size: 18px;
    margin: 5px 0px 0px 10px;
}

.thumbnail_box p{
    font-size: 15px;
    margin-left: 10px;
}

.stars{
    color: #0065FC;
    margin-left: 10px;
}

.empty_stars{
    color: #e2e2e2;
}

.show_more{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.show_more:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s;
}

/* Popular */

.popular{
    background-color: #ececec;
    border-radius: 25px;
    padding: 0px 35px 0px 35px;
    display: flex;
    flex-direction: column;
}

.aside_thumbnail_box{
    background-color: white;
    border-radius: 25px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    padding: 7px 7px 7px 7px;
    margin-bottom: 40px;
}

.aside_thumbnail_box:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.aside_thumbnail_box a{
    color: black;
    text-decoration: none;
    display: flex;
}

.title_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title_icon h2{
    font-size: 22px;
    padding: 30px 0px 20px 0px;
}

.aside_thumbnail_box img{
    height: 140px;
    max-width: 130px;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit: cover;
}

.aside_thumbnail_box_info h3{
    font-size: 18px;
    margin: 5px 5px 0px 5px;
}

.aside_thumbnail_box_info_short h3{
    font-size: 18px;
    margin: 5px 0px 0px 7px;
}

.aside_thumbnail_box_info p{
    margin-left: 10px;
    margin-bottom: 55px;
}

.aside_thumbnail_box_info_short p{
    margin-left: 10px;
    margin-bottom: 35px;
}

/* Activities */

#activities{
    font-size: 22px;
    padding: 35px 0px 10px 0px;
    margin-left: 35px;
}

.activities_thumbnail_container{
    display: flex;
    justify-content: space-between;
}

.activities_thumbnail_one{
    display: flex;
    justify-content: space-between;
}

.activities_thumbnail_two{
    display: flex;
    justify-content: space-between;
}

.activities_thumbnail_container a{
    color: black;
    text-decoration: none;
}

.activities_thumbnail_small{
    margin-bottom: 40px;
    margin-right: 0px;
}

.activities_thumbnail_big{
    border: 2px solid #ececec;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #e2e2e2;
    margin-right: 50px;
}

.activities_thumbnail_big:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.activities_thumbnail_small:hover{
    transform: scale(1.05);
    transition: ease 0.3s;
}

.activities_thumbnail_small_top{
    display: flex;
    flex-direction: column;
    border: 2px solid #ececec;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #e2e2e2;
}

.activities_thumbnail_small_bottom{
    display: flex;
    flex-direction: column;
    border: 2px solid #ececec;
    border-radius: 18px;
    box-shadow: 2px 2px 8px #e2e2e2;
}

.activities_thumbnail_big img{
    height: 350px;
    width: 290px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activities_thumbnail_small img{
    height: 125px;
    width: 290px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.activities_thumbnail_big h3{
    font-size: 18px;
    padding-left: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.activities_thumbnail_small h3{
    font-size: 18px;
    padding-left: 12px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* Footer */

.footer_container{
    background-color: #e2e2e2;
    margin-top: 60px;
}

.section_container{
    display: flex;
}

.section_container a{
    text-decoration: none;
    color: black;
    margin-top: 10px;
}

.section_container a:hover{
    color: rgba(0, 0, 0, 0.350);
    transition: ease 0.3s;
}

.about{
    display: flex;
    flex-direction: column;
    margin: 30px 150px 30px 50px;
}

.accommodation_footer{
    display: flex;
    flex-direction: column;
    margin: 30px 150px 30px 30px;
}

.assistance{
    display: flex;
    flex-direction: column;
    margin: 30px 150px 30px 30px;
}

/* Media queries */

@media screen and (max-width: 1366px) {

    /* Accommodation */

    .thumbnail_box h3{
        font-size: 16px;
    }
    
    .thumbnail_box p{
        font-size: 14px;
    }
    
    .stars{
        color: #0065FC;
        font-size: 14px;
    }

    /* Popular */

    .aside_thumbnail_box{
        margin-bottom: 25px;
    }

    .aside_thumbnail_box_info h3{
        font-size: 16px;
    }
    
    .aside_thumbnail_box_info_short h3{
        font-size: 16px;
    }
    
    .aside_thumbnail_box_info p{
        font-size: 14px;
        margin-bottom: 50px;
    }
    
    .aside_thumbnail_box_info_short p{
        font-size: 14px;
        margin-bottom: 50px;
    }

    /* Activities */

    .activities_thumbnail_big{
        margin-right: 20px;
    }

    .activities_thumbnail_big img{
        height: 350px;
        width: 290px;
    }
    
    .activities_thumbnail_small img{
        height: 125px;
        width: 290px;
    }
}

@media screen and (max-width: 1280px) {  

    /* Popular */

    .aside_thumbnail_box{
        margin-bottom: 25px;
    }

    .aside_thumbnail_box img{
        height: 130px;
    }

    /* Activities */

    .activities_thumbnail_big img{
        height: 350px;
        width: 270px;
    }
    
    .activities_thumbnail_small img{
        height: 125px;
        width: 270px;
    }   

}

@media screen and (max-width: 1024px) {

    /* Accommodation */

    #accommodation h2{
        font-size: 18px;
    }

    .thumbnail_box h3{
        font-size: 12px;
        margin: 5px 0px 0px 3px;
    }
    
    .thumbnail_box p{
        font-size: 11px;
        margin-left: 3px;
    }

    .stars{
        font-size: 11px;
        margin-left: 3px;
    }
    
    .show_more{
        font-size: 15px;
    }

    /* Popular */

    .title_icon h2{
        font-size: 18px;
    }

    .title_icon .fas{
        margin-bottom: -10px;
        font-size: 17px;
    }

    .aside_thumbnail_box{
        margin-bottom: 20px;
    }

    .aside_thumbnail_box img{
        height: 100px;
        max-width: 130px;
        width: 40%;
    }

    .aside_thumbnail_box_info h3{
        font-size: 12px;
        margin: 5px 5px 0px 5px;
    }
    
    .aside_thumbnail_box_info_short h3{
        font-size: 12px;
        margin: 5px 0px 0px 5px;
    }
    
    .aside_thumbnail_box_info p{
        font-size: 11px;
        margin-left: 5px;
        margin-bottom: 30px;
    }
    
    .aside_thumbnail_box_info_short p{
        font-size: 11px;
        margin-left: 5px;
        margin-bottom: 30px;
    }

    /* Activities */

    #activities{
        margin-left: 35px;
    }

    .activities_thumbnail_big{
        margin-right: 7px;
    }

    .activities_thumbnail_big img{
        height: 375px;
        width: 220px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .activities_thumbnail_small{
        margin-bottom: 15px;
    }
    
    .activities_thumbnail_small img{
        height: 155px;
        width: 215px;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .activities_thumbnail_big h3{
        font-size: 14px;
        padding-left: 12px;
    }
    
    .activities_thumbnail_small h3{
        font-size: 14px;
        padding-left: 12px;
    }

    /* Footer */

    .section_container h2{
        font-size: 15px;
    }

    .section_container a{
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    
}

    